.top-menu-login{
    display: inline-block;
    padding-right: 15px;
    @media screen and (min-width: 768px){
        padding-right: 0px;
    }
    .email-help-text{
        display:none;
    }
    .form-group{
        display: block;
        @media screen and (min-width: 768px){
            display:inline-block;
            padding-right: 5px;
        }
    }

}